body {
    width: 60%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 400px;
    border: solid red 5px;
    border-radius: 20px;
    background-color: white;
}

img {
    height: 100px;
    width: 100px;
}

.inner {
    display: table;
    margin: 0 auto;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #ea5a60;
    font-size: 1rem;
}

.wf-hannari {
    font-family: "Hannari";
}

.japaneseLeftBackground {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.japaneseRightBackground {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
}

@media screen and (min-width: 400px) {
    body {
        background-color: white;
        color: black;
        width: 0 auto;
        display: block;
        text-align: center;
        border: thick solid black;
        border-radius: 20px;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: black;
        color: white;
        width: 0 auto;
        display: block;
        text-align: center;
        border: thick solid red;
        border-radius: 20px;
    }
}
